In [1]:
import pandas as pd
import pyspark 

# Import csv file
file_path = 'russia_losses_cleaned.csv'
tags_path = 'tags_index.csv'

# Read the dataset into a pandas DataFrame
losses_df = pd.read_csv(file_path)
tags_df = pd.read_csv(tags_path)

# Display the updated DataFrame info to verify the change
print(losses_df.info())

# Display the first few rows of the dataset
losses_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18382 entries, 0 to 18381
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      18382 non-null  int64
 1   type    18382 non-null  object
 2   model   18382 non-null  object
 3   status  18382 non-null  object
 4   date    18382 non-null  object
 5   front   17311 non-null  object
 6   oblast  16952 non-null  object
 7   raion   14038 non-null  object
 8   town    13075 non-null  object
 9   lat     10714 non-null  float64
 10  lon     10714 non-null  float64
 11  tags    11336 non-null  object
dtypes: float64(2), int64(1), object(9)
memory usage: 1.7+ MB
None

,id,type,model,status,date,front,oblast,raion,town,lat,lon,tags
0,1,Tanks,T-64BV,Destroyed,2022-03-14,East Ukraine,Luhansk oblast,Sievierodonetsk raion,Rubizhne,49.027241,38.343374,NaN
1,2,Tanks,T-64BV,Destroyed,2022-03-16,East Ukraine,Donetsk oblast,Mariupol raion,Mariupol,47.099126,37.523713,"-941,-937,-948"
2,3,Tanks,T-64BV,Destroyed,2022-03-16,East Ukraine,Donetsk oblast,Mariupol raion,Mariupol,47.098693,37.523532,-944
3,5,Tanks,T-64BV,Destroyed,2022-03-17,East Ukraine,Donetsk oblast,Mariupol raion,Mariupol,47.098140,37.640174,"-941,-937"
4,6,Tanks,T-64BV,Destroyed,2022-03-31,East Ukraine,Luhansk oblast,Sievierodonetsk raion,Rubizhne,49.011220,38.398440,-937

In [2]:
# Display the updated DataFrame info to verify the change
print(tags_df.info())

# Display the first few rows of the dataset
tags_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      32 non-null     int64
 1   tag     32 non-null     object
dtypes: int64(1), object(1)
memory usage: 640.0+ bytes
None

     id                 tag
0  -960                   +
1  -959   additional armour
2  -958  armour kit missing
3  -957           cope cage
4  -956             damaged
5  -955      expanded cabin
6  -954             flipped
7  -953                heli
8  -952          improvised
9  -951              jammer
10 -950                kung
11 -949           loitering
12 -948    mine plow/roller
13 -947                   o
14 -946                pl-1
15 -945      removed turret
16 -944           shattered
17 -943              stugna
18 -942                   t
19 -941          turretless
20 -940              turtle
21 -939          underwater
22 -938                   v
23 -937                   z
24 -936                   ∆
25 -935                   ∇
26 -934                   ∧
27 -933                   ▲
28 -932                   ◇
29 -931                   ☐
30 -930                   ✕
31 -929                   ⧸

In [3]:
import os
os.environ['PYSPARK_PYTHON'] = 'python'

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Russia_Losses').getOrCreate()

In [4]:
# Convert Pandas DataFrame to PySpark DataFrame
losses_spark_df = spark.createDataFrame(losses_df)

# Display the schema to verify the data
losses_spark_df.printSchema()

root
 |-- id: long (nullable = true)
 |-- type: string (nullable = true)
 |-- model: string (nullable = true)
 |-- status: string (nullable = true)
 |-- date: string (nullable = true)
 |-- front: string (nullable = true)
 |-- oblast: string (nullable = true)
 |-- raion: string (nullable = true)
 |-- town: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lon: double (nullable = true)
 |-- tags: string (nullable = true)

In [5]:
losses_spark_df

DataFrame[id: bigint, type: string, model: string, status: string, date: string, front: string, oblast: string, raion: string, town: string, lat: double, lon: double, tags: string]

In [6]:
losses_spark_df.show()

+---+-----+------+---------+----------+-------------+----------------+--------------------+---------------+---------+---------+--------------+
| id| type| model|   status|      date|        front|          oblast|               raion|           town|      lat|      lon|          tags|
+---+-----+------+---------+----------+-------------+----------------+--------------------+---------------+---------+---------+--------------+
|  1|Tanks|T-64BV|Destroyed|2022-03-14| East Ukraine|  Luhansk oblast|Sievierodonetsk r...|       Rubizhne|49.027241|38.343374|           NaN|
|  2|Tanks|T-64BV|Destroyed|2022-03-16| East Ukraine|  Donetsk oblast|      Mariupol raion|       Mariupol|47.099126|37.523713|-941,-937,-948|
|  3|Tanks|T-64BV|Destroyed|2022-03-16| East Ukraine|  Donetsk oblast|      Mariupol raion|       Mariupol|47.098693|37.523532|          -944|
|  5|Tanks|T-64BV|Destroyed|2022-03-17| East Ukraine|  Donetsk oblast|      Mariupol raion|       Mariupol| 47.09814|37.640174|     -941,-937|
|  6|Tanks|T-64BV|Destroyed|2022-03-31| East Ukraine|  Luhansk oblast|Sievierodonetsk r...|       Rubizhne| 49.01122| 38.39844|          -937|
|  8|Tanks|T-64BV|Destroyed|2022-03-07| East Ukraine|  Donetsk oblast|      Mariupol raion|       Mariupol| 47.06449| 37.47426|     -937,-948|
| 10|Tanks|T-64BV|Destroyed|2022-05-06| East Ukraine|  Donetsk oblast|      Mariupol raion|       Mariupol|47.152873|37.632595|     -941,-944|
| 11|Tanks|T-64BV|  Damaged|2022-05-20| East Ukraine|  Luhansk oblast|Sievierodonetsk r...|       Rubizhne| 49.03426|   38.354|           NaN|
| 13|Tanks| T-64A|Destroyed|2022-05-25| East Ukraine|  Luhansk oblast|Sievierodonetsk r...|       Borivske|48.875283|38.600434|          -948|
| 15|Tanks|T-64BV|Destroyed|2022-05-29| East Ukraine|  Luhansk oblast|Sievierodonetsk r...|       Rubizhne| 48.98553| 38.40138|     -941,-944|
| 17|Tanks|T-64BV|Destroyed|2022-05-11| East Ukraine|  Donetsk oblast|       Donetsk raion|  Oleksandrivka|47.903917|37.535861|     -941,-944|
| 19|Tanks|T-64BV|  Damaged|2022-04-17| East Ukraine|  Luhansk oblast|Sievierodonetsk r...|       Rubizhne|49.011984|38.397356|          -937|
| 20|Tanks|T-64BV| Captured|2022-03-29| East Ukraine|  Luhansk oblast|                 NaN|            NaN|      NaN|      NaN|          -956|
| 26|Tanks| T-72A|Destroyed|2022-03-10|North Ukraine|     Kyiv oblast|       Brovary raion|         Skybyn|50.586255| 30.83903|     -941,-947|
| 27|Tanks| T-72A|Destroyed|2022-03-06|North Ukraine|     Kyiv oblast|       Brovary raion|      Zavorychi| 50.70268|  31.1552|     -941,-947|
| 28|Tanks| T-72A|Destroyed|2022-03-27| East Ukraine|  Donetsk oblast|      Pokrovsk raion|Verkhnotoretske|      NaN|      NaN|          -948|
| 29|Tanks| T-72A|Destroyed|2022-04-09|North Ukraine|Chernihiv oblast|       Pryluky raion|       Pryputni|50.951716|32.220893|          -948|
| 30|Tanks| T-72A|Destroyed|2022-04-04|North Ukraine|Chernihiv oblast|     Chernihiv raion|    Politrudnia| 51.83793| 31.60029|     -941,-948|
| 31|Tanks| T-72A|Destroyed|2022-04-26|North Ukraine|Chernihiv oblast|                 NaN|            NaN|      NaN|      NaN|          -948|
| 32|Tanks| T-72B|Destroyed|2022-06-01| East Ukraine|  Donetsk oblast|      Pokrovsk raion|        Marinka|47.932043|37.523071|     -941,-944|
+---+-----+------+---------+----------+-------------+----------------+--------------------+---------------+---------+---------+--------------+
only showing top 20 rows

In [15]:
from pyspark.sql.functions import col, array_contains, count

# Filter by type,
tanks_df = losses_spark_df.filter(
    (col('type') == 'Tanks'))

# Filter by, status, front, and date range
destroyed_tanks_df = tanks_df.filter(    
    (col('status') == 'Destroyed') &    
    (col('date') >= '2022-02-24') &
    (col('date') <= '2022-04-24')
)
# Count the total number of rows in the DataFrame
destroyed_count = destroyed_tanks_df.count()
print(f"Number of destroyed tanks between 2022-02-24 and 2022-04-24: {destroyed_count}")

# Show the destroyed DataFrame
destroyed_tanks_df.show()

Number of damaged tanks: 271
+---+-----+------+---------+----------+-------------+----------------+--------------------+---------------+---------+---------+--------------+
| id| type| model|   status|      date|        front|          oblast|               raion|           town|      lat|      lon|          tags|
+---+-----+------+---------+----------+-------------+----------------+--------------------+---------------+---------+---------+--------------+
|  1|Tanks|T-64BV|Destroyed|2022-03-14| East Ukraine|  Luhansk oblast|Sievierodonetsk r...|       Rubizhne|49.027241|38.343374|           NaN|
|  2|Tanks|T-64BV|Destroyed|2022-03-16| East Ukraine|  Donetsk oblast|      Mariupol raion|       Mariupol|47.099126|37.523713|-941,-937,-948|
|  3|Tanks|T-64BV|Destroyed|2022-03-16| East Ukraine|  Donetsk oblast|      Mariupol raion|       Mariupol|47.098693|37.523532|          -944|
|  5|Tanks|T-64BV|Destroyed|2022-03-17| East Ukraine|  Donetsk oblast|      Mariupol raion|       Mariupol| 47.09814|37.640174|     -941,-937|
|  6|Tanks|T-64BV|Destroyed|2022-03-31| East Ukraine|  Luhansk oblast|Sievierodonetsk r...|       Rubizhne| 49.01122| 38.39844|          -937|
|  8|Tanks|T-64BV|Destroyed|2022-03-07| East Ukraine|  Donetsk oblast|      Mariupol raion|       Mariupol| 47.06449| 37.47426|     -937,-948|
| 26|Tanks| T-72A|Destroyed|2022-03-10|North Ukraine|     Kyiv oblast|       Brovary raion|         Skybyn|50.586255| 30.83903|     -941,-947|
| 27|Tanks| T-72A|Destroyed|2022-03-06|North Ukraine|     Kyiv oblast|       Brovary raion|      Zavorychi| 50.70268|  31.1552|     -941,-947|
| 28|Tanks| T-72A|Destroyed|2022-03-27| East Ukraine|  Donetsk oblast|      Pokrovsk raion|Verkhnotoretske|      NaN|      NaN|          -948|
| 29|Tanks| T-72A|Destroyed|2022-04-09|North Ukraine|Chernihiv oblast|       Pryluky raion|       Pryputni|50.951716|32.220893|          -948|
| 30|Tanks| T-72A|Destroyed|2022-04-04|North Ukraine|Chernihiv oblast|     Chernihiv raion|    Politrudnia| 51.83793| 31.60029|     -941,-948|
| 49|Tanks|T-72AV|Destroyed|2022-04-11|North Ukraine|Chernihiv oblast|        Nizhyn raion|     Nova Basan| 50.54869| 31.50226|           NaN|
| 54|Tanks| T-72B|Destroyed|2022-02-26| East Ukraine|  Luhansk oblast|Sievierodonetsk r...|      Metolkyne|48.936789|38.600982|          -937|
| 55|Tanks| T-72B|Destroyed|2022-03-02|North Ukraine|Chernihiv oblast|    Koriukivka raion|      Makoshyne|51.462111|32.297907|           NaN|
| 56|Tanks| T-72B|Destroyed|2022-02-28| East Ukraine|  Luhansk oblast|                 NaN|            NaN|      NaN|      NaN|          -937|
| 57|Tanks| T-72B|Destroyed|2022-03-04|North Ukraine|     Kyiv oblast|         Bucha raion|       Stoianka|50.446174| 30.22076|     -941,-938|
| 58|Tanks|T-72BA|Destroyed|2022-03-06| East Ukraine|  Kharkiv oblast|         Izium raion|            NaN|      NaN|      NaN|     -937,-936|
| 59|Tanks| T-72B|Destroyed|2022-03-01|North Ukraine|     Kyiv oblast|         Bucha raion|      Kalynivka| 50.41638| 29.76411|-941,-938,-948|
| 61|Tanks| T-72B|Destroyed|2022-03-05|North Ukraine|Chernihiv oblast|        Nizhyn raion|    Bobrovytsia| 50.76968| 31.37761|          -941|
| 63|Tanks| T-72B|Destroyed|2022-03-17|North Ukraine|Chernihiv oblast|        Nizhyn raion|            NaN|      NaN|      NaN|          -941|
+---+-----+------+---------+----------+-------------+----------------+--------------------+---------------+---------+---------+--------------+
only showing top 20 rows

In [16]:
# Filter by, status, front, and date range
damaged_tanks_df = tanks_df.filter(
    (col('status') == 'Damaged') &   
    (col('date') >= '2022-02-24') &
    (col('date') <= '2022-04-24')
)
# Count the total number of rows in the DataFrame
damaged_count = damaged_tanks_df.count()
print(f"Number of damaged tanks between 2022-02-24 and 2022-04-24: {damaged_count}")

# Show the destroyed DataFrame
damaged_tanks_df.show()

Number of damaged tanks: 12
+---+-----+----------------+-------+----------+------------+-------------------+--------------------+-----------+---------+---------+---------+
| id| type|           model| status|      date|       front|             oblast|               raion|       town|      lat|      lon|     tags|
+---+-----+----------------+-------+----------+------------+-------------------+--------------------+-----------+---------+---------+---------+
| 19|Tanks|          T-64BV|Damaged|2022-04-17|East Ukraine|     Luhansk oblast|Sievierodonetsk r...|   Rubizhne|49.011984|38.397356|     -937|
|137|Tanks|           T-72B|Damaged|2022-04-11|East Ukraine|     Donetsk oblast|      Mariupol raion|   Mariupol| 47.09217| 37.54339|     -937|
|224|Tanks|          T-72BA|Damaged|2022-03-17|East Ukraine|     Kharkiv oblast|         Izium raion|Kapytolivka|49.195479|37.339567|-937,-931|
|312|Tanks| T-72B Obr. 1989|Damaged|2022-02-25|East Ukraine|Zaporizhzhia oblast|        Polohy raion|     Tokmak|47.262945|35.710239|     -957|
|399|Tanks|T-72B3 Obr. 2016|Damaged|2022-03-19|East Ukraine|     Donetsk oblast|      Mariupol raion|   Mariupol|47.117213|37.517053|-937,-929|
|610|Tanks|         T-80BVM|Damaged|2022-04-22|East Ukraine|     Kharkiv oblast|         Izium raion|     Zavody|49.154656|37.064678|     -938|
|659|Tanks|    Unknown tank|Damaged|2022-03-14|East Ukraine|     Donetsk oblast|      Pokrovsk raion|   Avdiivka| 48.11759| 37.80214|     -948|
|696|Tanks|          T-72 *|Damaged|2022-03-30|East Ukraine|     Donetsk oblast|    Volnovakha raion|    Stepne |47.789144|37.554241|      NaN|
|719|Tanks|          T-72 *|Damaged|2022-04-22|East Ukraine|     Luhansk oblast|Sievierodonetsk r...|   Rubizhne| 49.02976| 38.36349|      NaN|
|798|Tanks|    Unknown tank|Damaged|2022-03-11|East Ukraine|     Donetsk oblast|      Mariupol raion|   Mariupol|      NaN|      NaN|     -937|
|801|Tanks|          T-72 *|Damaged|2022-04-07|East Ukraine|     Donetsk oblast|      Mariupol raion|  Pokrovske| 47.05255| 37.47914|      NaN|
|802|Tanks|          T-72 *|Damaged|2022-04-07|East Ukraine|     Donetsk oblast|      Mariupol raion|  Pokrovske| 47.05233|  37.4787|      NaN|
+---+-----+----------------+-------+----------+------------+-------------------+--------------------+-----------+---------+---------+---------+

In [22]:
# Filter by, status, front, and date range
captured_tanks_df = tanks_df.filter(
    (col('status') == 'Captured') &   
    (col('date') >= '2022-02-24') &
    (col('date') <= '2022-04-24')
)
# Count the total number of rows in the DataFrame
captured_count = captured_tanks_df.count()
print(f"Number of captured tanks between 2022-02-24 and 2022-04-24: {captured_count}")

# Show the destroyed DataFrame
captured_tanks_df.show()

Number of captured tanks: 199
+---+-----+------+--------+----------+-------------+-------------------+---------------+--------------+---------+---------+---------+
| id| type| model|  status|      date|        front|             oblast|          raion|          town|      lat|      lon|     tags|
+---+-----+------+--------+----------+-------------+-------------------+---------------+--------------+---------+---------+---------+
| 20|Tanks|T-64BV|Captured|2022-03-29| East Ukraine|     Luhansk oblast|            NaN|           NaN|      NaN|      NaN|     -956|
| 34|Tanks| T-72A|Captured|2022-03-10|North Ukraine|   Chernihiv oblast|            NaN|           NaN|      NaN|      NaN|      NaN|
| 35|Tanks| T-72A|Captured|2022-03-10|North Ukraine|        Kyiv oblast|  Brovary raion|        Skybyn|50.583148|30.836393|     -948|
| 36|Tanks| T-72A|Captured|2022-03-10|North Ukraine|   Chernihiv oblast|Chernihiv raion|    Kolychivka| 51.42088| 31.30846|     -947|
| 39|Tanks| T-72A|Captured|2022-03-06|North Ukraine|        Kyiv oblast|  Brovary raion|     Zavorychi|  50.7017|  31.1541|     -948|
| 51|Tanks|T-72AV|Captured|2022-03-10|North Ukraine|        Kyiv oblast|  Brovary raion|        Skybyn| 50.58057| 30.83448|      NaN|
| 52|Tanks|T-72AV|Captured|2022-03-11|North Ukraine|        Sumy oblast|     Sumy raion|Malyi Vystorop| 50.62778| 34.81719|     -948|
| 53|Tanks|T-72AV|Captured|2022-04-02|North Ukraine|   Chernihiv oblast|   Nizhyn raion|    Nova Basan| 50.57066| 31.51588|     -947|
|147|Tanks| T-72B|Captured|2022-03-11|North Ukraine|        Sumy oblast|     Sumy raion|Malyi Vystorop|  50.6277| 34.81712|     -956|
|148|Tanks| T-72B|Captured|2022-03-11|North Ukraine|        Sumy oblast|     Sumy raion|Malyi Vystorop| 50.62774| 34.81708|     -956|
|150|Tanks| T-72B|Captured|2022-04-10| East Ukraine|     Kharkiv oblast|    Izium raion|Sukha Kamianka| 49.09003| 37.32001|     -937|
|153|Tanks| T-72B|Captured|2022-03-02| East Ukraine|Zaporizhzhia oblast|            NaN|           NaN|      NaN|      NaN|-937,-957|
|154|Tanks| T-72B|Captured|2022-03-03|North Ukraine|   Chernihiv oblast|   Nizhyn raion|      Prokhory|      NaN|      NaN|     -947|
|155|Tanks| T-72B|Captured|2022-03-03|North Ukraine|   Chernihiv oblast|Chernihiv raion|           NaN|      NaN|      NaN|      NaN|
|157|Tanks| T-72B|Captured|2022-03-05|North Ukraine|   Chernihiv oblast|            NaN|           NaN|      NaN|      NaN|      NaN|
|158|Tanks| T-72B|Captured|2022-03-06|North Ukraine|   Chernihiv oblast|   Nizhyn raion|      Prokhory|      NaN|      NaN|     -947|
|159|Tanks| T-72B|Captured|2022-03-02|North Ukraine|        Sumy oblast|     Sumy raion|  Krasnopillia|50.787611|35.221806|      NaN|
|160|Tanks| T-72A|Captured|2022-03-02|North Ukraine|   Chernihiv oblast|   Nizhyn raion|     Khvylivka| 50.97544|  31.8818|-947,-948|
|161|Tanks| T-72B|Captured|2022-03-10|North Ukraine|        Kyiv oblast|  Brovary raion|     Zavorychi| 50.70176| 31.15445|     -957|
|162|Tanks| T-72B|Captured|2022-03-10|North Ukraine|        Kyiv oblast|  Brovary raion|     Zavorychi| 50.70261| 31.15465|      NaN|
+---+-----+------+--------+----------+-------------+-------------------+---------------+--------------+---------+---------+---------+
only showing top 20 rows

In [18]:
# Filter for tanks where 'tags' contains "-941"
destroyed_tanks_with_tag = destroyed_tanks_df.filter(col('tags').contains('-941'))

# Count the number of tanks with the tag "-941"
count_with_tag_941 = destroyed_tanks_with_tag.count()

# Count the total number of rows in the DataFrame
total_count = destroyed_tanks_df.count()

# Calculate the ratio
ratio = count_with_tag_941 / total_count if total_count > 0 else 0

In [19]:
# Display the ratio and the destroyed DataFrame
print(f"Total number of destroyed tanks between 2022-02-24 and 2022-04-24: {total_count}")
print(f"Number of tanks with blown turret: {count_with_tag_941}")
print(f"Ratio: {ratio}")

Total number of destroyed tanks between 2022-02-24 and 2022-04-24: 271
Number of tanks with blown turret: 184
Ratio: 0.6789667896678967

In [23]:
# Filter tanks that have the tag '-941' -- "turretless"
destroyed_tanks_with_tag = destroyed_tanks_df.filter(col('tags').contains('-941'))

# Group by 'oblast' and count the number of tanks with the tag '-941'
count_by_oblast_with_tag = destroyed_tanks_with_tag.groupBy('oblast').agg(count('id').alias('blown_turret'))

# Group by 'oblast' and count the total number of tanks
count_by_oblast_total = destroyed_tanks_df.groupBy('oblast').agg(count('id').alias('total_destroyed'))

# Join the two DataFrames on 'oblast' to calculate the ratio
joined_counts = count_by_oblast_with_tag.join(count_by_oblast_total, on='oblast', how='inner')

# Calculate the ratio and add it as a new column
result_with_ratio = joined_counts.withColumn('ratio', col('blown_turret') / col('total_destroyed'))

# Show the result
result_with_ratio.select('oblast', 'blown_turret', 'total_destroyed', 'ratio').show()

+-------------------+------------+---------------+-------------------+
|             oblast|blown_turret|total_destroyed|              ratio|
+-------------------+------------+---------------+-------------------+
|     Kharkiv oblast|          27|             39| 0.6923076923076923|
|     Poltava oblast|           2|              2|                1.0|
|        Kyiv oblast|          35|             52| 0.6730769230769231|
|                NaN|           3|              5|                0.6|
|     Kherson oblast|           4|              6| 0.6666666666666666|
|     Luhansk oblast|           8|             21|0.38095238095238093|
|     Donetsk oblast|          27|             42| 0.6428571428571429|
|   Chernihiv oblast|          38|             51| 0.7450980392156863|
|        Sumy oblast|          35|             43|  0.813953488372093|
|    Mykolaiv oblast|           2|              4|                0.5|
|Zaporizhzhia oblast|           3|              6|                0.5|
+-------------------+------------+---------------+-------------------+

In [24]:
# Filter tanks that have the tag '-941'
destroyed_tanks_with_tag = destroyed_tanks_df.filter(col('tags').contains('-941'))

# Group by 'model' and count the number of tanks with the tag '-941'
count_by_model_with_tag = destroyed_tanks_with_tag.groupBy('model').agg(count('id').alias('blown_turret'))

# Group by 'model' and count the total number of tanks
count_by_model_total = destroyed_tanks_df.groupBy('model').agg(count('id').alias('total_destroyed'))

# Join the two DataFrames on 'model' to calculate the ratio
joined_counts = count_by_model_with_tag.join(count_by_model_total, on='model', how='inner')

# Calculate the ratio and add it as a new column
result_with_ratio = joined_counts.withColumn('ratio', col('blown_turret') / col('total_destroyed'))

# Show the result
result_with_ratio.select('model', 'blown_turret', 'total_destroyed', 'ratio').show()

+----------------+------------+---------------+------------------+
|           model|blown_turret|total_destroyed|             ratio|
+----------------+------------+---------------+------------------+
|          T-80BV|           7|              9|0.7777777777777778|
|         T-80UM2|           1|              1|               1.0|
|T-72B3 Obr. 2016|          30|             41|0.7317073170731707|
|          T-72B3|          31|             42|0.7380952380952381|
|         T-80BVM|           4|              6|0.6666666666666666|
|           T-72B|          46|             70|0.6571428571428571|
|          T-72 *|           4|              9|0.4444444444444444|
|          T-64BV|           4|             10|               0.4|
| T-72B Obr. 1989|          21|             28|              0.75|
|           T-80U|          18|             24|              0.75|
|        T-80UE-1|           2|              2|               1.0|
| T-90A Obr. 2006|           3|              5|               0.6|
|          T-72BA|           1|              3|0.3333333333333333|
|    Unknown tank|           2|              3|0.6666666666666666|
|           T-72A|           8|             12|0.6666666666666666|
|          T-80UK|           1|              1|               1.0|
|     T-72 'Ural'|           1|              1|               1.0|
+----------------+------------+---------------+------------------+